body{
    background-image: url("burger.jpg");
    background-color: black;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}

nav a{
    letter-spacing: 3px;
}

.button{
    text-align: center;
}

div a{
    background-color: #FFC045;
    border-radius: 7px;
    border: none;
    width: 140px;
    height: 35px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 grey;
    color: #ffff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button a:hover{
    /* background-color: rgb(149, 126, 10); */
    box-shadow: inset 140px 0 0 0 rgb(149, 126, 10);
}